body
{
    background-color: darkgrey;
}
h1
{
    font-size: 25px;
    font-family:sans-serif;
    color: blueviolet;
}
.imagen
{
    max-width: 30%;
}
.enviar
{
    background-color:aqua; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.colorLista
{
    text-align: center;
    color: cyan;
    background-color: darkcyan;
}
p
{
    font-size: large;
    text-align: center;
    font-weight: bold;
    
}
.listaOrdenada
{

}